<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loan Predict</title>
</head>
<body style="background-color: white;">
    <center>
    <h4 style="color:darkslategrey">Age = {{data['DAYS_AGE']}} </h4>
    <h4 style="color:darkslategrey">Installment/month = {{data['ANNUITY']}} </h4>
    <h4 style="color:darkslategrey">Years of work = {{data['DAYS_WORK']}} </h4>
    <h4 style="color:darkslategrey">Income/month = {{data['INCOME']}} </h4>
    <h4 style="color:darkslategrey">Result Prediction = {{pred}} </h4>
    <button style="height:25px;width:120px;font-size: 15px;text-align: center;line-height: 20px; background-color: white;"><a href="http://127.0.0.1:5000" style="text-decoration: none;">Back</a></button>
    </form>
    <div id="tebak_plot" class="tebak_plot" style="width: 500px;"></div>
    </center>
</body>
<!--jquery-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!--d3-->
<script src="https://d3js.org/d3.v5.min.js"></script>
<!--plotly.js-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var vis = {{ tebak_plot | safe }}
    Plotly.plot('tebak_plot', vis, {})
</script>
</html>